node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/resources/localhost-ssl

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
dist/
public/
src/main/views/govuk
coverage/
smoke-output/
functional-output/
version

.eslintcache

.yarn/*
!.yarn/cache/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vscode/extensions.json
.vscode/settings.json
.yarn/sdks/integrations.yml
.yarn/sdks/eslint/package.json
.yarn/sdks/eslint/bin/eslint.js
.yarn/sdks/eslint/lib/api.js
.yarn/sdks/eslint/lib/unsupported-api.js
.yarn/sdks/prettier/index.cjs
.yarn/sdks/prettier/package.json
.yarn/sdks/prettier/bin/prettier.cjs
.yarn/sdks/typescript/package.json
.yarn/sdks/typescript/bin/tsc
.yarn/sdks/typescript/bin/tsserver
.yarn/sdks/typescript/lib/tsc.js
.yarn/sdks/typescript/lib/tsserver.js
.yarn/sdks/typescript/lib/tsserverlibrary.js
.yarn/sdks/typescript/lib/typescript.js
